<div class="row">
  <h2>Modelos de produtos</h2>
</div>
<%= form_with url: product_models_path, method: :get do %>
  <div class="form-group row">
    <div class="col-auto" style="padding-top:0.3rem;">
      <b><%= label_tag :term, 'Busca:' %></b>
    </div>
    <div class="col-sm">
      <%= text_field_tag :term, {}, class: 'form-control' %>
    </div>
    <div class="col-auto">
      <%= submit_tag 'Filtrar', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Código SKU</th>
        <th scope="col">Fornecedor</th>
      </tr>
    </thead>
    <tbody>
      <% @product_models.each do |product_model| %>
        <tr>
          <td><%= link_to product_model.name, product_model %></td>
          <td><%= product_model.sku %></td>
          <td><%= product_model.supplier.fantasy_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>