<h1>Modelos de produtos</h1>

<%= form_with url: product_models_path, method: :get do %>
  <%= label_tag :term, 'Buscar por fornecedor:' %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Filtrar' %>
<% end %>

<table>
  <tr>
    <th>Nome</th>
    <th>Fornecedor</th>
  </tr>
  <% @product_models.each do |product_model| %>
    <tr>
      <td><%= link_to product_model.name, product_model %></td>
      <td><%= product_model.supplier.fantasy_name %></td>
    <tr>
  <% end %>
</table>