<h2>Novo kit de produto</h2>

<% if @product_bundle.errors.any? %>
  <span>Verifique os campos abaixo:</span>
  <ul>
    <% @product_bundle.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @product_bundle) do |form| %>
  <div>
    <%= form.label :name, 'Nome' %>
    <%= form.text_field :name %>
  </div>
  <div>
    <span>Escolha os produtos</span>
    <%= form.collection_check_boxes :product_model_ids, ProductModel.all, :id, :name %>
  </div>
  <%= form.submit 'Gravar' %>
<% end %>