<h2>Nova categoria</h2>

<% if @category.errors.any? %>
  <span>Verifique os campos abaixo:</span>
  <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @category) do |form| %>
  <div>
    <%= form.label :name, 'Nome' %>
    <%= form.text_field :name%>
  </div>
  <%= form.submit 'Gravar' %>
<% end %>