<h1><%= @supplier.fantasy_name %></h1>
<h2><%= @supplier.legal_name %></h2>
<div>
  <dl>
    <dt>CNPJ:</dt>
    <dd><%= @supplier.eni %></dd>
    <dt>Endereço:</dt>
    <dd><%= @supplier.address %></dd>
    <dt>E-mail:</dt>
    <dd><%= @supplier.email %></dd>
    <dt>Telefone:</dt>
    <dd><%= @supplier.phone %></dd>
  </dl>
</div>