<div class="row">
  <div class="col-sm">
    <h2><%= @supplier.fantasy_name %></h2>
  </div>
  <% if user_signed_in? %>
    <div class="col-auto float-right">
      <%= link_to 'Editar', edit_supplier_path(@supplier), class: 'btn btn-warning' %>
    </div>
  <% end %>
  <div class="col-auto pull-right">
    <%= link_to 'Voltar', suppliers_path, {class: 'btn btn-primary'} %>
  </div>
</div>
<div class="card">
  <div class="card-header"><h4>Razão Social: <%= @supplier.legal_name %></h4></div>
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-2">CNPJ:</dt>
      <dd class="col-sm-10"><%= @supplier.eni %></dd>
      <dt class="col-sm-2">Endereço:</dt>
      <dd class="col-sm-10"><%= @supplier.address %></dd>
      <dt class="col-sm-2">E-mail:</dt>
      <dd class="col-sm-10"><%= @supplier.email %></dd>
      <dt class="col-sm-2">Telefone:</dt>
      <dd class="col-sm-10"><%= @supplier.phone %></dd>
    </dl>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header"><h4>Produtos deste fornecedor:</h4></div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">SKU</th>
        </tr>
      </thead>
      <tbody>
        <% @supplier.product_models.each do |product| %>
          <tr> 
            <td><%= product.name %></td>
            <td><%= product.sku %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
