<h1><%= @supplier.fantasy_name %></h1>
<h2>Razão Social: <%= @supplier.legal_name %></h2>
<div>
  <dl>
    <dt>CNPJ:</dt>
    <dd><%= @supplier.eni %></dd>
    <dt>Endereço:</dt>
    <dd><%= @supplier.address %></dd>
    <dt>E-mail:</dt>
    <dd><%= @supplier.email %></dd>
    <dt>Telefone:</dt>
    <dd><%= @supplier.phone %></dd>
  </dl>
</div>

<h2>Produtos deste fornecedor:</h2>
<table>
  <tr>
    <th>Produto</th>
    <th>SKU</th>
  </tr>
  <% @supplier.product_models.each do |product| %>
    <tr> 
      <td><%= product.name %></td>
      <td><%= product.sku %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Voltar', suppliers_path %>