<h3>Galpões cadastrados</h3>

<% if @warehouses.empty? %>
  <strong>Nenhum galpão cadastrado</strong>
<% else %>
  <%= form_with url: warehouses_path, method: :get do %>
    <%= label_tag :term, 'Busca:' %>
    <%= text_field_tag :term %>
    <%= submit_tag 'Filtrar' %>
  <% end %>
  <table>
    <tr>
      <th>Nome</th>
      <th>Código</th>
      <%if user_signed_in? %><th>Ações</th><% end %>
    <tr>
    <% @warehouses.each do |warehouse| %>
      <tr id="warehouse-<%= warehouse.id %>">
        <td><%= link_to(warehouse.name, warehouse_path(warehouse.id)) %></td>
        <td><%= warehouse.code %></td>
        <%if user_signed_in? %><td><%= link_to('Editar', edit_warehouse_path(warehouse.id)) %></td><% end %>
      <tr>
    <% end %>
  </table>
<% end %>