<h1><%= @warehouse.name %></h1>
<h2><%= @warehouse.code %></h2>

<div id="detalhes-galpao">
  <dl>
    <dt>Descrição:</dt>
    <dd><%= @warehouse.description %></dd>
    <dt>Endereço:</dt>
    <dd><%= @warehouse.address %> - <%= @warehouse.city %>/<%= @warehouse.state %></dd>
    <dt>CEP:</dt>
    <dd><%= @warehouse.postal_code %></dd>
    <dt>Área Total:</dt>
    <dd><%= @warehouse.total_area %> m2</dd>
    <dt>Área Útil:</dt>
    <dd><%= @warehouse.useful_area %> m2</dd>
  </dl>
</div>

<h2>Estoque</h2>

<% @items = @warehouse.product_items.group(:product_model).count %>
<% @items.each_pair do |product_model, quantity| %>
  <div id="product-<%= product_model.id %>">
    <%= product_model.name %>
    Quantidade: <%= quantity %>
  </div>
<% end %>

<h2>Entrada de Itens</h2>
<%= form_with(url: product_entry_warehouse_path(@warehouse.id)) do |f| %>
  <% f.hidden_field(:warehouse_id, value: @warehouse.id) %>
  <div>
    <%= f.label :quantity, 'Quantidade' %>
    <%= f.number_field :quantity %>
  </div>
  <div>
    <%= f.label :product_model_id, 'Produto' %>
    <%= f.select :product_model_id, options_from_collection_for_select(@product_models, :id, :name) %>
  </div>
  <div>
    <%= f.submit 'Confirmar' %>
  </div>
<% end %>

<%= link_to 'Voltar', root_path %>
<%= link_to 'Editar', edit_warehouse_path(@warehouse) %>