<div class="row">
  <div class="col-sm">
    <h2><%= @warehouse.name %></h2>
  </div>
  <% if user_signed_in? %>
    <div class="col-auto float-right">
      <%= link_to 'Editar', edit_warehouse_path(@warehouse), class: 'btn btn-warning' %>
    </div>
  <% end %>
  <div class="col-auto float-right">
    <%= link_to 'Voltar', warehouses_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="card">
  <div class="card-header"><h4><%= @warehouse.code %></h4></div>
  <div class="card-body">
    <div id="detalhes-galpao">
      <dl class="row">
        <dt class="col-sm-2">Descrição:</dt>
        <dd class="col-sm-10"><%= @warehouse.description %></dd>
        <dt class="col-sm-2">Endereço:</dt>
        <dd class="col-sm-10"><%= @warehouse.address %> - <%= @warehouse.city %>/<%= @warehouse.state %></dd>
        <dt class="col-sm-2">CEP:</dt>
        <dd class="col-sm-10"><%= @warehouse.postal_code %></dd>
        <dt class="col-sm-2">Área Total:</dt>
        <dd class="col-sm-10"><%= @warehouse.total_area %> m2</dd>
        <dt class="col-sm-2">Área Útil:</dt>
        <dd class="col-sm-10"><%= @warehouse.useful_area %> m2</dd>
        <dt>Categorias:</dt>
        <% @warehouse.categories.each do |category| %>
          <dd><%= category.name %></dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>
<br>
<div id='estoque' class="card">
  <div class="card-header"><h4>Estoque</h4></div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <% @items = @warehouse.product_items.group(:product_model).count %>
        <% if @items.empty? %>
          <tr>
            <td colspan='2'>Não há produtos em estoque</td>
          </tr>
        <% else %>
          <% @items.each_pair do |product_model, quantity| %>
            <tr id="product-<%= product_model.id %>">
              <td><%= product_model.name %></td>
              <td><%= quantity %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<% if user_signed_in? %>
  <div id="entry" class="card">
    <div class="card-header"><h4 id="label-product-entry">Entrada de Itens</h4></div>
    <div class="card-body">
      <%= form_with(url: product_entry_warehouse_path(@warehouse.id)) do |f| %>
        <div class="form-group">
          <b><%= f.label :quantity, 'Quantidade' %></b>
          <%= f.number_field :quantity, class: 'form-control' %>
        </div>
        <div class="form-group">
          <b><%= f.label :product_model_id, 'Produto' %></b><br>
          <%= @product_models.empty? ? 'Não há modelos de produtos disponíveis' : f.collection_select(:product_model_id, @product_models, :id, :name, {}, class: 'form-control') %>
        </div>
        <br>
        <div class="form-group">
          <%= f.submit 'Confirmar', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div id="checkout" class="card">
    <div class="card-header"><h4 id="label-product-entry">Baixa de Itens</h4></div>
    <div class="card-body">
      <%= form_with(url: product_checkout_warehouse_path(@warehouse.id)) do |f| %>
        <div class="form-group">
          <b><%= f.label :quantity, 'Quantidade' %></b>
          <%= f.number_field :quantity, class: 'form-control' %>
        </div>
        <div class="form-group">
          <b><%= f.label :product_model_id, 'Produto' %></b><br>
          <%= @warehouse.product_models.empty? ? 'Não há modelos de produtos disponíveis' : f.collection_select(:product_model_id, @warehouse.product_models.uniq, :id, :name, {}, class: 'form-control') %>
        </div>
        <br>
        <div class="form-group">
          <%= f.submit 'Confirmar', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<br>