<!DOCTYPE html>
<html>
  <head>
    <title>MyStorageApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Início', root_path %>
        <%= link_to 'Cadastrar novo fornecedor', new_supplier_path %>
        <%= link_to 'Visualizar fornecedores', suppliers_path %>
        <%= link_to 'Cadastrar modelo de produto', new_product_model_path %>
        <%= link_to 'Visualizar modelos de produtos', product_models_path %>
        <%= link_to 'Criar novo kit de produtos', new_product_bundle_path %>
        <%= link_to 'Cadastrar categoria', new_category_path %>
        <%= link_to 'Visualizar categorias', categories_path %>
        <% if user_signed_in? %>
          <span>Olá <%= current_user.email %></span>
          <%= link_to 'Cadastrar novo galpão', new_warehouse_path %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <footer>
      My Storage App 2021
    </footer>
  </body>
</html>
